body {
  margin: 0;
  font-family:'Playfair Display', serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
  color: #771234;
 
}

code {
  font-family:'Playfair Display', serif, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #771234;
  background-color: #F9E5E6;
}

/*NAVEGADOR PRINCIPAL*/
.navEstilo{
  font-family:'Playfair Display';
  background-color: #F9E5E6;
  margin: 1em;

}

.logo{
  padding-left: 5%;
  font-size: xx-large;
  display: inline;

}

.login{
  padding-right: 5%;
  font-size: x-large;
}

/*FOOTER */
.footerEstilo{
  font-family:'Playfair Display';
  background-color: #F9E5E6;
}
.footerEstilo h4{
  font-weight: bold;
  font-style: italic; 
  font-size: medium;
  color: #771234;
}

.footerEstilo a{
  display: block;
  color: #771234;
  text-decoration: none;
  font-size: medium;
  
}
.footerEstilo p{
  font-size:medium;
  color: #771234;
}















/* pagina de login*/
.contenedorLog{
  background-color: #D1B0B7;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 5% 2% 5% ;
  border-radius: 5%;
  font-family:'Playfair Display';
  color: #3A3F42;
}
.contenedorClaro{
  background-color: #F9E5E6;
  padding: 5%;
  border-radius: 5%;
}

.contenedorLog button{
  background-color: #D1B0B7 !important;
  border: #3A3F42;
}